@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: red;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.containerHeader {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerHeader .logo img {
  width: 300px;
}

.containerHeader input {
  height: 30px;
}

.pokemonAll, .typePokemons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 90px;
    font-size: 1.5rem;
    color: #222;
    background: #fff;
    box-shadow: 3px 3px 5px rgb(114 6 6 / 59%);
    border-radius: 10px;
    padding-left: 30px;
    margin-bottom: 30px;
    transition: .4s;
    cursor: pointer;
    overflow: hidden;
}

.typePokemons img {
  width: 20vw;
}

.pokemonAll img {
  width: 300px;
  padding-right: 30px;
}

.pokemonAll:hover, .typePokemons:hover {
  transform: scale(1.1);
}

.containerAPI {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.containerAll {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  background: #fff;
}

.cardPokemon {
  background: #fff;
  width: 220px;
  height: 200px;
  border-radius: 1.5em;
  padding: 0.8em;
}

.cardPokemon header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: #fff;
  border-radius: 10px 10px 0 0;
}

.cardPokemon header h3 {
  font-size: 14px;
}

.cardPokemon p {
  margin-top: 5px;
  font-size: 12px;
}

.cardPokemon .pokeImage {
  width: 7em;
  margin: 0 auto;
  display: flex;
  align-self: center;
}

.containerSearch {
  margin: 0 auto;
  width: 1200px;
  background: #fff;
}

.types {
  display: none;
  margin: 0 auto;
  height: 500px;
  width: 1200px;
  background: #fff;
}

.loader {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
  }
  
  .loader.show {
    opacity: 1;
  }
  
  .circle {
    background-color: #4CD964;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
  }
  
  .circle:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  
  .circle:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  }